# These owners will be the default owners for everything in the repo
* @AKHAIRUL412

# Backend code owners
/backend/ @AKHAIRUL412

# Frontend code owners
/frontend/ @AKHAIRUL412

# Admin dashboard code owners
/admin/ @AKHAIRUL412