# These owners will be the default owners for everything in the repo
* @KHAIRUL412

# Backend code owners
/backend/ @KHAIRUL412

# Frontend code owners
/frontend/ @KHAIRUL412

# Admin dashboard code owners
/admin/ @KHAIRUL412